.section-main {

}

.section-main .grid-container {
    position: relative;
    border-bottom: 1px solid #9F9F9F;
}

.section-main .heading-text {
    position: relative;
    z-index: 3;
    padding-top: 124px;
    padding-bottom: 154px;
    padding-left: 160px;
}

.section-main .heading-text h1 {
    font-family: 'Druk Wide';
    font-weight: 500;
    font-size: 30px;
    color: #6D6D6D;
    margin-bottom: 40px;
}

.section-main .heading-text .text-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 117%;
    color: #6D6D6D;
    max-width: 370px;
    opacity: 0.8;
}

.section-main .grid-container .design-elements .icon {
    position: absolute;
    background-color: #9F9F9F;
    font-size: 23px;
}
.section-main .grid-container .design-elements .icon.icon-top-left {
    top: 0;
    left: 4.5%;
}
.section-main .grid-container .design-elements .icon.icon-top-right {
    top: 0;
    right: 4.5%;
}
.section-main .grid-container .design-elements .icon.icon-bottom-left {
    bottom: 67px;
    left: 4.5%;
}
.section-main .grid-container .design-elements .icon.icon-bottom-right {
    bottom: 67px;
    right: 4.5%;
}
.section-main .grid-container .design-elements .icon.graph-mark-vertical {
    left: -64px;
    top: 43.5%;
    font-size: 34px;
    background-color: var(--gray-500);
}
.section-main .grid-container .title-label {
    position: absolute;
    top: 32px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.section-main .grid-container .title-label img {
    width: 100%;
    height: auto;
    max-width: 1055px;
    opacity: 0.4;
}

@media (max-width: 1200px) {
    .section-main .heading-text {
        padding-left: 70px;
    }
}

@media (max-width: 991px) {
    .section-main .heading-text {
        padding-left: 0;
        padding-top: 110px;
        padding-bottom: 140px;
    }

    .section-main .heading-text h1 {
        margin-bottom: 30px;
    }

    .section-main .grid-container .design-elements .icon.icon-bottom-left,
    .section-main .grid-container .design-elements .icon.icon-top-left {
        left: 0;
    }

    .section-main .grid-container .design-elements .icon.icon-bottom-right,
    .section-main .grid-container .design-elements .icon.icon-top-right {
        right: 0;
    }

    .section-main .grid-container .design-elements .icon.icon-bottom-left,
    .section-main .grid-container .design-elements .icon.icon-bottom-right {
        bottom: 30px;
    }
}

.section-teams {
    margin-top: 50px;
}

.section-teams .col-heading {
    margin-bottom: 55px;
}

.section-teams .col-heading .title {
    font-family: "Druk Wide";
    font-weight: 400;
    font-size: 30px;
    line-height: 86%;
    color: #6D6D6D;
    max-width: 620px;
}

.section-teams .grid-container {
    background: #F4F4F4;
    border-radius: 30px;
    padding: 60px 110px;
}
