footer {
  margin-top: 60px;
}
footer .grid-container {
  display: grid;
  grid-template-columns: 165px 1fr 165px;
  padding-top: 40px;
  padding-bottom: 50px;
  border-top: 1px solid #9F9F9F;
}
footer .grid-container .left-col img {
  margin-bottom: 37px;
}
footer .grid-container .left-col .footer-info {
  font-family: "Neue Plak";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: var(--gray-500);
  max-width: 165px;
  margin-bottom: 10px;
}
footer .grid-container .left-col .footer-info:last-child {
  margin-bottom: 0;
}
footer .grid-container .center-col {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
footer .grid-container .center-col .nav-col {
  display: flex;
}
footer .grid-container .center-col .nav-col .item-col {
  display: flex;
  flex-direction: column;
  font-family: "Neue Plak";
  margin-right: 130px;
}
footer .grid-container .center-col .nav-col .item-col:last-child {
  margin-right: 0;
}
footer .grid-container .center-col .nav-col .item-col .name {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: var(--gray-500);
  margin-bottom: 28px;
}
footer .grid-container .center-col .nav-col .item-col .link:hover {
  color:#000;
}
footer .grid-container .center-col .nav-col .item-col .link {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: var(--gray-500);
  margin-bottom: 10px;
}
footer .grid-container .center-col .nav-col .item-col .link:last-child {
  margin-bottom: 0;
}

@media (max-width: 1500px) {
  footer .grid-container .center-col .nav-col .item-col {
    margin-right: 50px;
  }
}

@media (max-width: 1200px) {
  footer .grid-container {
    grid-template-columns: auto 1fr;
  }
  footer .grid-container .center-col {
    justify-content: flex-end;
  }
  footer .grid-container .center-col .nav-col .item-col {
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  footer .grid-container .center-col .nav-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    width: 100%;
  }
  footer .grid-container .center-col {
    margin-bottom: 30px;
  }
  footer .grid-container {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  footer .grid-container .left-col {
    margin-top: 50px;
  }
  footer .grid-container .center-col {
    justify-content: initial;
  }
  footer .grid-container .center-col .nav-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    width: 100%;
  }
  footer .grid-container .center-col .nav-col .item-col {
    margin-right: 0;
  }
}
