@charset "UTF-8";
:root {
  --container: 1170px;
  --gray: #222428;
  --bc-gray: #282A2E;
}

html {
  color: inherit;
  background-color: var(--gray);
}

body {
  color: #fff;
  background-color: var(--gray);
  font-family: 'Montserrat', sans-serif;
}

.xl-container {
  padding: 0 24px;
}

.lr-container {
  max-width: var(--container);
  padding: 0 30px;
  margin: auto;
}

.flex {
  display: flex;
}

.flex-g-center {
  display: flex;
  align-items: center;
}

.flex-v-center {
  display: flex;
  justify-content: center;
}

.flex-vb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-vb-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sq-tag {
  width: max-content;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #5279EC;
  border-radius: 50px;
  padding: 4px 8px;
  background: rgba(82, 121, 236, 0.03);
}

.index-header_h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -1px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.text-md {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: rgba(224, 224, 255, 0.6);
}

.btn {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 12px;
  font-weight: normal;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  border: 0;
  width: max-content;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.2s;
}

.btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.btn.medium {
  padding: 9px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.btn.medium.icon-left i.icon {
  margin-right: 12px;
  font-size: 24px;
  margin-left: -8px;
  background-color: #fff;
}

.btn.medium.icon-right i.icon {
  margin-left: 12px;
  font-size: 24px;
  margin-right: -8px;
  background-color: #fff;
}

.btn.small {
  padding: 8px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.btn.small.icon-left i.icon {
  margin-right: 8px;
  font-size: 20px;
  margin-left: -8px;
  background-color: #fff;
}

.btn.small.icon-right i.icon {
  margin-left: 12px;
  font-size: 24px;
  margin-right: -8px;
  background-color: #fff;
}

.btn.btn-primary {
  background: linear-gradient(135deg, #00BBFF 0%, #4579F5 51.01%, #5D2DE1 100%);
  box-shadow: 0px 0px 1px rgba(69, 121, 245, 0.24), 0px 2px 4px -1px rgba(27, 10, 82, 0.12), 0px 16px 24px rgba(69, 121, 245, 0.24), 0px 8px 8px -4px rgba(69, 121, 245, 0.12);
}

.btn.btn-primary[disabled] {
  color: rgba(224, 224, 255, 0.24);
  cursor: no-drop;
}

.btn.btn-primary[disabled] i.icon {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn.btn-primary:hover {
  box-shadow: 0px 1px 1px rgba(69, 121, 245, 0.24), 0px 4px 4px -1px rgba(27, 10, 82, 0.12), 0px 24px 32px rgba(69, 121, 245, 0.24), 0px 12px 12px -4px rgba(69, 121, 245, 0.12);
}

.btn.btn-primary:hover:after {
  background: rgba(255, 255, 255, 0.12);
}

.btn.btn-primary:active {
  background: linear-gradient(135deg, #00BBFF 0%, #4579F5 51.01%, #5D2DE1 100%);
  box-shadow: 0px 0px 1px rgba(69, 121, 245, 0.24), 0px 1px 4px -1px rgba(27, 10, 82, 0.12), 0px 8px 16px rgba(69, 121, 245, 0.24), 0px 8px 8px -4px rgba(69, 121, 245, 0.12);
}

.btn.btn-secondary {
  background: linear-gradient(135deg, #2D2F33 0%, #282A2E 51.37%, #212429 99.14%);
  box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
}

.btn.btn-secondary[disabled] {
  color: rgba(255, 255, 255, 0.4);
  cursor: no-drop;
}

.btn.btn-secondary[disabled] i.icon {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn.btn-secondary:hover {
  background: linear-gradient(135deg, #2D2F33 1.4%, #272A2E 52.23%, #222529 100%);
  box-shadow: 0px 2px 2px rgba(9, 14, 20, 0.4), -8px -8px 8px rgba(224, 224, 255, 0.04), 12px 12px 36px rgba(9, 14, 20, 0.4);
}

.btn.btn-secondary:hover:after {
  background: rgba(255, 255, 255, 0.06);
}

.btn.btn-secondary:active {
  background: linear-gradient(135deg, #2D2F33 1.4%, #272A2E 52.23%, #222529 100%);
  box-shadow: 0px 1px 1px rgba(9, 14, 20, 0.4), -2px -2px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 14, 20, 0.4);
}

/* header */
header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--gray);
}

header .content {
  padding: 6px 0;
}

header .content .logo {
  position: relative;
  height: 75px;
  width: 139px;
  margin-left: -9px;
}

header .content .logo:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header .content nav li {
  margin-right: 16px;
}

header .content nav li a {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 12px;
  transition: all 0.2s;
}

header .content nav li a:hover {
  background: linear-gradient(135deg, #2D2F33 0%, #282A2E 51.37%, #212429 99.14%);
  box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
}

/* Конец - header */
/* первый блок */
.index-block {
  padding-top: 72px;
}

.index-block .powered-by {
  margin: 0 auto;
  width: max-content;
}

.index-block .powered-by p {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: rgba(224, 224, 255, 0.6);
}

.index-block .powered-by p i.icon {
  background-color: rgba(224, 224, 255, 0.6);
  margin: 0 10px;
}

.index-block .index-text {
  margin: 0 auto;
  width: max-content;
}

.index-block .index-text .title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2px;
  color: #FFFFFF;
  margin-top: 20px;
}

.background-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 79vw;
  margin-top: -9vw;
}

/* Конец - первый блок */
/* features */
.section-features {
  padding-top: 72px;
  padding-bottom: 72px;
}

.section-features .center-text {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}

.section-features .center-text .sq-tag {
  margin: 0 auto;
}

.section-features .center-text .index-header_h2 {
  margin-top: 15px;
  margin-bottom: 30px;
}

.section-features .img-preview {
  width: 100%;
  margin-top: 50px;
}

/* Конец - features */
/* text-col */
.section-text_col {
  padding: 72px 0;
}

.section-text_col.bc-color-gray {
  background-color: var(--bc-gray);
}

.section-text_col.bc-color-gray .img-col {
  margin-left: 0;
}

.section-text_col .grid-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 125px;
}

.section-text_col .grid-col .img-col {
  width: calc(100% + 50px);
  margin-left: -20px;
}

.section-text_col .grid-col .sq-tag {
  margin-bottom: 15px;
}

.section-text_col .grid-col .text-md {
  max-width: 445px;
}

.section-text_col .grid-col .btn {
  margin-top: 24px;
}

/* Конец - text-col */
/* check-history */
.section-check_history {
  padding: 72px 0;
}

.section-check_history .sq-tag {
  margin-bottom: 15px;
}

.section-check_history .items-line {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.section-check_history .items-line .item {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.section-check_history .items-line .item:last-child {
  padding-bottom: 0;
}

.section-check_history .items-line .item .text-content {
  padding-right: 30px;
  padding-bottom: 48px;
}

.section-check_history .items-line .item .text-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.section-check_history .items-line .item .count {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 64px;
  width: 64px;
  min-height: 64px;
  height: 64px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 12px;
  margin-bottom: 24px;
}

.section-check_history .items-line .item .count p {
  font-family: 'Gilroy';
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -1px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.section-check_history .items-line .item .count span {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.section-check_history .items-line .item .count:after {
  content: '';
  position: absolute;
  top: calc(50% - 3px);
  left: 74px;
  width: 100vw;
  height: 6px;
  background: rgba(224, 224, 255, 0.03);
}

.section-check_history .items-line .item .count.one {
  background: linear-gradient(135deg, #00FFAA 0%, #00BBFF 53.09%, #4579F5 100%);
  box-shadow: 0px 0px 1px rgba(0, 187, 255, 0.24), 0px 2px 4px -1px rgba(10, 70, 82, 0.12), 0px 16px 24px rgba(0, 187, 255, 0.24), 0px 8px 8px -4px rgba(0, 187, 255, 0.12);
}

.section-check_history .items-line .item .count.two {
  background: linear-gradient(135deg, #00FFAA 0%, #00BBFF 53.09%, #4579F5 100%);
  opacity: 0.24;
  box-shadow: 0px 0px 1px rgba(0, 187, 255, 0.24), 0px 2px 4px -1px rgba(10, 70, 82, 0.12), 0px 16px 24px rgba(0, 187, 255, 0.24), 0px 8px 8px -4px rgba(0, 187, 255, 0.12);
}

.section-check_history .items-line .item .count.three {
  background: linear-gradient(135deg, #FF00AA 0%, #9C42F5 50.18%, #5D2DE1 100%);
  box-shadow: 0px 0px 1px rgba(156, 66, 245, 0.24), 0px 2px 4px -1px rgba(27, 10, 82, 0.12), 0px 16px 24px rgba(156, 66, 245, 0.24), 0px 8px 8px -4px rgba(156, 66, 245, 0.12);
}

.section-check_history .items-line .item .count.four {
  background: linear-gradient(135deg, #FF00AA 0%, #9C42F5 50.18%, #5D2DE1 100%);
  opacity: 0.24;
  box-shadow: 0px 0px 1px rgba(156, 66, 245, 0.24), 0px 2px 4px -1px rgba(27, 10, 82, 0.12), 0px 16px 24px rgba(156, 66, 245, 0.24), 0px 8px 8px -4px rgba(156, 66, 245, 0.12);
}

.section-check_history .items-line .item .title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.section-check_history .items-line .item .desc {
  font-size: 13px;
  line-height: 20px;
}

/* Конец - check-history */
/* teams */
.section-teams {
  padding: 72px 0;
  background-color: var(--bc-gray);
}

.section-teams .header-center {
  text-align: center;
}

.section-teams .header-center .sq-tag {
  margin: 0 auto;
  margin-bottom: 15px;
}

.section-teams .grid-teams {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.section-teams .grid-teams .item {
  background: linear-gradient(135deg, #2D2F33 0%, #282A2E 51.37%, #212429 99.14%);
  box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
  border-radius: 24px;
  padding: 24px;
}

.section-teams .grid-teams .item img {
  width: 120px;
  height: 120px;
  border-radius: 24px;
  object-fit: cover;
  margin-bottom: 24px;
}

.section-teams .grid-teams .item .name {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #FFFFFF;
}

.section-teams .grid-teams .item .desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: rgba(224, 224, 255, 0.6);
}

.section-teams .grid-teams .item a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(224, 224, 255, 0.02);
  border-radius: 12px;
  width: 36px;
  height: 36px;
}

.section-teams .grid-teams .item a i {
  background-color: #fff;
}

/* Конец - teams */
footer {
  background-color: var(--bc-gray);
  padding-bottom: 72px;
}

footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray);
  border-radius: 24px;
  padding: 20px 60px;
}

footer .content .col .accordion {
  display: flex;
}

footer .content .col .logo {
  margin-right: 30px;
  margin-left: -16px;
}

footer .content .col .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 30px;
}

footer .content .col .head i.icon {
  display: none;
  background: rgba(224, 224, 255, 0.4);
  font-size: 20px;
}

footer .content .col .title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(224, 224, 255, 0.6);
  margin-bottom: 3px;
  margin-right: 10px;
}

footer .content .col .title i.icon {
  margin-right: 10px;
  background-color: rgba(224, 224, 255, 0.6);
}

footer .content .col .title a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

footer .content .col a.title {
  width: max-content;
}

footer .content .col a.title:hover {
  color: #fff;
}
