.advantages-section {
  .row-content {
    position: relative;
    padding: 30px 30px 50px;
    color: #FFFFFF;
    margin-bottom: 45px;

    .design-elements {
      .icon {
        position: absolute;
        font-size: 23px;
        background-color: #9F9F9F;

        &.icon-bottom-left {
          left: 0;
          bottom: 0;
        }

        &.icon-bottom-right {
          right: 0;
          bottom: 0;
        }

        &.graph-mark-gorizontal {
          left: 25%;
          bottom: -10px;
          background-color: var(--gray-500);
          font-size: 34px;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 72%;
      background-color: #252525;
      border-radius: 30px;
    }

    .top-col,
    .bottom-col {
      position: relative;
      z-index: 2;
      width: 100%;
      max-width: 1128px;
      margin: 0 auto;
    }

    .top-col {
      .grid-container {
        display: flex;

        .item-col {
          width: max-content;
          border-right: 1px solid #343434;
          padding-top: 10px;
          padding-bottom: 40px;

          &:last-child {
            border-right: none;
          }

          .text {
            font-family: 'Druk Wide';
            font-weight: 500;
            font-size: 18px;
            line-height: 117%;
            text-transform: uppercase;

            .count {
              font-size: 30px;
            }
          }

          &.item-col_one {
            padding-right: 90px;

            .text {
              max-width: 150px;
            }
          }

          &.item-col_two {
            padding-left: 90px;
            padding-right: 70px;

            .text {
              max-width: 240px;
            }
          }

          &.item-col_three {
            display: flex;
            align-items: flex-start;
            padding-left: 90px;

            .text {
              max-width: 200px;
            }

            .item-col_logo {
              display: flex;
              align-items: center;
              margin-left: 40px;

              img {
                width: auto;
                max-height: 37px;
                margin-right: 20px;

                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }

    .bottom-col {
      .preview-photo {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 1450px) {
  .advantages-section {
    .row-content {

      .top-col,
      .bottom-col {
        max-width: 926px;
      }

      .top-col {
        .grid-container {
          .item-col {
            &.item-col_one {
              padding-right: 40px;
            }

            &.item-col_two {
              padding-left: 50px;
              padding-right: 40px;
            }

            &.item-col_three {
              padding-left: 40px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .advantages-section {
    .row-content {
      .top-col {
        .grid-container {
          flex-direction: column;

          .item-col {
            width: 100%;
            max-width: 100%;
            padding: 30px 0 !important;
            border-right: none;
            border-bottom: 1px solid #343434;

            &:last-child {
              border-bottom: none;
            }

            .text {
              max-width: 450px !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .advantages-section {
    .row-content {
      padding: 25px 20px 56px;

      .top-col {
        .grid-container {
          .item-col {
            .text {
              max-width: 100% !important;
            }

            &.item-col_one {
              .text {
                display: flex;
                align-items: center;
                grid-gap: 10px;
              }
            }

            &.item-col_three {
              .item-col_logo {
                width: 100%;
              }
            }
          }
        }
      }

      .bottom-col {
        .preview-photo {
          width: calc(100% + 60px);
          margin-left: -30px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .advantages-section {
    .row-content {
      .top-col {
        .grid-container {
          .item-col {
            .text {
              font-size: 4vw;

              .count {
                font-size: 7vw;
              }
            }
          }
        }
      }
    }
  }
}
