:root {

  /* colors */
  --white: #FFFFFF;

  --gray-100: #EFEFEF;
  --gray-300: #E7E7E7;
  --gray-500: #6D6D6D;
  --gray-700: #4c4c4c;

  /* container */
  --container: 1722px;
  --container-lg: 1564px
}
