.what-multisig {
  margin-bottom: 40px;

  .grid-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #9F9F9F;

    .title-label {
      position: absolute;
      top: 0;
      left: 0;
    }

    .left-col,
    .right-col {
      position: relative;
      z-index: 2;
    }
    .left-col {
      display: flex;

      .rhomb-container {
        display: flex;
        width: 265px;
        margin-top: auto;

        .box-ratio {
          .content {
            background-color: transparent;
            background-image: url(/img/rhomb-vector.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            padding: 50px;
            transition: all 0.2s;

            .row-content {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: 100%;
              height: 100%;
              color: var(--gray-500);

              .bottom-col {
                display: flex;

                .icon {
                  margin-left: auto;
                  font-size: 30px;
                  background-color: #6D6D6D;
                  transition: all 0.2s;
                }
              }

              .text-index {
                font-family: 'Druk Wide';
                font-weight: 500;
                font-size: 30px;
                line-height: 93%;
              }
            }
          }
        }

        &:hover {
          .box-ratio {
            .content {
              filter: invert(0.05);

              .row-content {
                .bottom-col {
                  .icon {
                    transform: translate(10px, 10px);
                  }
                }
              }
            }
          }
        }
      }
    }

    .right-col {
      flex: 1;

      .list-desc {
        display: flex;
        flex-direction: column;
        width: 55vw;
        max-width: 1010px;
        margin-left: auto;

        .list-desc_item {
          cursor: pointer;

          .heading-line {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 30px;

            .count {
              font-family: 'Neue Plak';
              font-weight: 400;
              font-size: 13px;
              color: #5B5B5B;
            }

            .line {
              width: 100%;
              height: 1px;
              background-color: #9F9F9F;
              margin-left: 66px;
              margin-right: 50px;
            }

            .square {
              width: 7px;
              height: 7px;
              min-width: 7px;
              min-height: 7px;
              background-color: #6D6D6D;
            }
          }

          .row-content {
            display: flex;
            justify-content: space-between;
            padding-left: 79px;
            padding-right: 110px;
            padding-bottom: 30px;
            transition: all 0.2s;

            .head {
              font-family: 'Druk Wide';
              font-weight: 500;
              font-size: 22px;
              line-height: 86%;
              color: var(--gray-500);
              max-width: 250px;
              transition: all 0.2s;
            }

            .desc {
              font-family: 'Neue Plak';
              font-weight: 400;
              font-size: 16px;
              line-height: 117%;
              color: #6D6D6D;
              max-width: 300px;
            }
          }

          &:hover {
            .row-content {

              .head {
                color: var(--gray-700);
                transform: translateX(20px);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .what-multisig {
    .grid-container {
      .right-col {
        .list-desc {
          width: 800px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .what-multisig {
    .grid-container {
      flex-direction: column-reverse;
      grid-gap: 20px;

      .left-col {
        .rhomb-container {
          margin: 0 auto;
        }
      }

      .right-col {
        .list-desc {
          width: 100%;
          margin-left: 0;
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .what-multisig {
    .grid-container {
      .left-col {
        .rhomb-container {


          .box-ratio {
            .content {
              padding: 75px;

              .row-content {
                .text-index {
                  font-size: 32px;
                }
              }
            }
          }
        }
      }
      .right-col {
        .list-desc {
          .list-desc_item {
            .heading-line {
              .line {
                margin-left: 20px;
                margin-right: 0;
              }
              .square {
                display: none;
              }
            }

            .row-content {
              flex-direction: column;
              padding-left: 33px;
              padding-right: 0;

              .head {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .what-multisig {
    .grid-container {
      .left-col {
        .rhomb-container {
          width: 100%;

          .box-ratio {
            .content {
              padding: 75px;
              .row-content {
                .text-index {
                  font-size: 32px;
                }
              }
            }
          }
        }
      }
    }
  }
}
